/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  @font-face {
    font-family: Cardo;
    src: url('Fonts/Cardo/Cardo.eot') format(embedded-opentype);
    src: url('Fonts/Cardo/Cardo.woff') format(woff),
         url('Fonts/Cardo/Cardo.woff2') format(woff2),
         url('Fonts/Cardo/Cardo.otf') format(opentype),
         url('Fonts/Cardo/Cardo.ttf') format(truetype);

  }

  @font-face {
    font-family: Inter;
    src: url('Fonts/Inter/Inter.eot') format(embedded-opentype);
    src: url('Fonts/Inter/Inter.woff') format(woff),
         url('Fonts/Inter/Inter.woff2') format(woff2),
         url('Fonts/Inter/Inter.otf') format(opentype),
         url('Fonts/Inter/Inter.ttf') format(truetype);
  }
  
  html {
    font-family: Cardo, serif;
    font-size: 10px;
  }

  h1, h2 {
    font-family: Inter, sans-serif;
    font-size: 2rem;
    letter-spacing: 1.5px;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  p, li {
    line-height: 1.5;
    font-size: 1.3rem;
    letter-spacing: 1.25px;
  }

  section  h2 + p {
    text-indent: 20px;
  }

  a:link {
    color: hotpink;
  }

  a:visited {
    color: darkred;
  }

  a:focus {
    color: coral;
  }

  a:hover {
    color: red;
  }

  a:focus, a:hover {
    text-decoration: none;
  }

  a {
    outline: none;
  }

  a[href*="http"] {
    padding-right: 19px;
    background: url(link.png) no-repeat 100% 0;
    background-size: 12px 12px;
  }

  ul, ol {
    margin: 1.5rem 0;
    list-style-type: circle;
  }

  nav ul {
    padding-left: 0;
    margin-top: 1rem;
  }

  nav li {
    list-style-type: none;
    margin-bottom: 0.5rem;
  }

  nav li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 2rem;
    border: 1px solid black;
    }

  nav li a:focus, nav li a:hover {
    color: white;
    background: #a66;
  }

  nav li a:active {
    color: white;
    background: black;
  }