/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  @font-face {
    font-family: Cardo;
    src: url('https://github.com/SpencerHone/spencerhone.github.io/tree/main/Assignment%203/Part%203/Cardo.ttf');
  }

  @font-face {
    font-family: Inter;
    src: url('https://github.com/SpencerHone/spencerhone.github.io/tree/main/Assignment%203/Part%203/Inter.ttf');
  }
  
  html {
    font-family: Cardo, serif;
  }

  h1, h2 {
    font-family: Inter, sans-serif;
  }